@font-face {
	font-family: bauer;
	src: url(bauer.ttf);
}
@font-face{
	font-family: nanum-square;
	src: url(nanum-square.ttf);
}
* {
	font-family: nanum-square;
	margin: 0px;
	padding: 0px;
}
a:link {
    color: black;
    text-decoration: none;
}
 a:visited {
     color: black;
     text-decoration: none;
    }
 a:hover {
     color: black;
     text-decoration: none;
    }
.row:before, .row:after {
	content: "";
	display : table;
}
.row :after {
	clear : both;
}
.col {
	margin: 0px;
	padding : 0px;
}
.nav-bar {
	padding-top: 60px;
	margin-left: 30px;
	position: fixed;
	top: 0px;
	width: 275px;
	height: 100%;
	float: left;
	z-index: 1;
	opacity: 0.8;
	text-align: center;
}
#li-top{
	padding: 5px 0px 5px 0px;
	margin-top: 5px;
	margin-left: 5px;
	z-index: 4;
	position: fixed;
	top: 0px;
	left: 0px;
	background: linear-gradient(to bottom right,#F3AFAD ,#A3C0FA );	
}
.nav{
	z-index: 3;
	padding-left:10px;
	margin-top:20px;
	display: block;
	font-size: 20px;
	font-weight: 500;
	color: gray;
}
.navigation{
	font-family: bauer;
	position: fixed;
	z-index: 2;
	width: 1680px;
	padding-top: 20px;
	height: 70px;
	text-align: center;
	color: white;
	background: linear-gradient(to bottom right,#F3AFAD ,#A3C0FA );
}
.nav-logo{
	height: 200px;
	width: 200px;
}
.nav-text{
	font-family: bauer;
	margin-top: 30px;
	text-align: center;
	animation-name: bbikka;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}
@keyframes bbikka{
	from{background: white; color: gray;}
	to{background: #B7B2C9; color: white;}
}
.main{
	float: left;
	width: 1680px;
}
.quater{
    width: 815px;
	height: 50%;
	float: left;
}
.quater-text{
	text-align: center;
	padding-top: 120px;
	color: white;
	font-size: 30px;
}
.upper{
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 175px;
    display: block;
}
.first{
	background-image: url("traffic light.png");
	margin-top: 15px;
	margin-left: 350px;
	width: 550px;
	height: 300px;
	border-radius: 20px;
    -moz-box-shadow: 0px 0px 4px #000000;
    -webkit-box-shadow: 0px 0px 4px #000000;
    box-shadow: 0px 0px 4px #000000;
}
.second{
	background-image: url("cctv.jpeg");
	margin-top: 15px;
	margin-left: 100px;
	width: 550px;
	height: 300px;
	border-radius: 20px;
    -moz-box-shadow: 0px 0px 4px #000000;
    -webkit-box-shadow: 0px 0px 4px #000000;
    box-shadow: 0px 0px 4px #000000;
}
.under{
	margin-left: 15px;
	margin-right: 15px;
    display: block;
}
.third{
	background-image: url("dust.jpeg");
	margin-top: 15px;
	margin-left: 350px;
	width: 550px;
	height: 300px;
	border-radius: 20px;
    -moz-box-shadow: 0px 0px 4px #000000;
    -webkit-box-shadow: 0px 0px 4px #000000;
    box-shadow: 0px 0px 4px #000000;
}
.fourth{
	background-image: url("emergency.png");
	margin-top: 15px;
	margin-left: 100px;
	width: 550px;
	height: 300px;
	border-radius: 20px;
    -moz-box-shadow: 0px 0px 4px #000000;
    -webkit-box-shadow: 0px 0px 4px #000000;
    box-shadow: 0px 0px 4px #000000;
}
